<div class="left_menu_corner"></div>
<ul class="menu">
    <li><a href="#" class="nav1"> Início</a></li>
    <li class="divider"></li>
    <!-- <li><a href="#" class="nav2">Destaques</a></li> -->
    <!-- <li class="divider"></li> -->
    <li><a href="#" class="nav3">Destaques</a></li>
    <li class="divider"></li>
    <li><a href="#" class="nav4">Minha conta</a></li>
    <li class="divider"></li>
    <li><a href="#" class="nav4">Registrar</a></li>
    <li class="divider"></li>
    <li><a href="#" class="nav5">Entrega</a></li>
    <li class="divider"></li>
    <li><a href="contact.html" class="nav6">Contato</a></li>
    <li class="divider"></li>
    <li class="currencies">Moeda
        <select>
            <option>US Dollar</option>
            <option>Euro</option>
            <option>Real</option>
        </select>
    </li>
</ul>
<div class="right_menu_corner"></div>